<!--<div class="nav-scroller py-1 mb-2">-->
<!--&lt;!&ndash;<div class="{{ menu_class }}">&ndash;&gt;-->
<!--    <nav class="nav d-flex justify-content-between">-->
<!--        <a class="p-2 link-secondary" href="{% url 'home' %}">Главная</a>-->
<!--        {% comment %} {% for item in genres %} {% endcomment %}-->
<!--        <a class="p-2 link-secondary" href="{{ item.get_absolute_url }}">{{ item.title }}</a>-->
<!--                <a class="p-2 link-secondary" href="#">Выбор города</a>-->
<!--                <a class="p-2 link-secondary" href="#">Новые поступления</a>-->
<!--                <a class="p-2 link-secondary" href="#">Популярные книги</a>-->
<!--                <a class="p-2 link-secondary" href="#">Добавить книгу</a>-->
<!--        {% comment %} {% endfor %} {% endcomment %}-->
<!--    </nav>-->
<!--</div>-->